.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

h2 {
    text-align: center;
    color: #333;
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

button[type="submit"] {
    width: 100%;
    margin-top: 20px;
    background-color: #1976D2;
    color: white;
}

@media (max-width: 600px) {
    .login-form {
        width: 90%;
        padding: 15px;
    }
}

.error{
    color: #5f5f5f;
    background-color: #dea4a4;
    padding: 5px 10px;
    font-size: 1.2rem;
    margin-bottom: 10px;
}