<div class="dashboard-container">
    <div class="user-actions">
      <button mat-raised-button color="primary" type="button" (click)="logout()">Logout</button>
    </div>
    <div class="welcome-area">
      <div class="welcome-message">
        <span>Hello <fa-icon [icon]="faHandWave"></fa-icon> <strong>Admin, </strong> welcome back</span>
      </div>
      <div class="balance-info">
        <span>Your current balance is <strong class="balance-amount">Ksh {{accountBalance}}</strong></span>
        <button mat-raised-button color="primary" (click)="openTopUpModal()">Top up</button>
      </div>
    </div>
  
    <mat-tab-group>
      <mat-tab label="Recent Orders">
        <div class="card">
          <div class="listing-top">
            <h2>Recent Orders</h2>
            <button mat-raised-button color="primary" (click)="openOrderModal()">Place new Order</button>
          </div>
          <div class="donut-div" *ngIf="loading">
            <div class="donut"></div>
          </div>
          <div *ngIf="!loading">
            <table class="table" *ngIf="orders.length">
              <thead>
                <tr>
                  <th scope="col">Order number</th>
                  <th scope="col">Date</th>
                  <th scope="col">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Status</th>
                  <th scope="col">Price</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-row" *ngFor="let order of orders">
                  <td class="table-index">{{ order.orderNumber }}</td>
                  <td>{{ order.date | date: 'MMM d, y, h:mm a' }}</td>
                  <td>{{ order.productName }}</td>
                  <td>{{ order.quantity }}</td>
                  <td>
                    <span class="badge" [ngClass]="{
                      'badge-warning': order.status === 'PENDING',
                      'badge-success': order.status === 'DELIVERED',
                      'badge-danger': order.status === 'DUPLICATE'
                    }">{{ order.status }}</span>
                  </td>
                  <td>{{ order.totalPrice }}</td>
                  <td>
                    <span class="table-actions">
                      <fa-icon [icon]="faTrash" (click)="deleteOrder(order)"></fa-icon>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="no-results" *ngIf="!orders.length">
              <p>No orders found</p>
            </div>
          </div>
        </div>
      </mat-tab>
  
      <mat-tab label="Recent Top-ups">
        <div class="card">
          <div class="listing-top">
            <h2>Recent Top-ups</h2>
            <button mat-raised-button color="primary" (click)="openTopUpModal()">Top up</button>
          </div>
          <div class="donut-div" *ngIf="loadingTopUps">
            <div class="donut"></div>
          </div>
          <div *ngIf="!loadingTopUps">
            <table class="table" *ngIf="topUps.length">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Top up Method</th>
                  <th scope="col">Confirmation Message</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-row" *ngFor="let topUp of topUps">
                  <td>{{ topUp.timestamp | date: 'MMM d, y, h:mm a' }}</td>
                  <td>{{ topUp.amount }}</td>
                  <td>{{ topUp.paymentOption }}</td>
                  <td>{{ topUp.confirmationMessage }}</td>
                </tr>
              </tbody>
            </table>
            <div class="no-results" *ngIf="!topUps.length">
              <p>No top-ups found</p>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>